<div>
  <form [formGroup]="userForm">
    <mat-form-field>
      <input matInput placeholder="nom" formControlName="nom">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="occupation" formControlName="occupation">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="mail">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="bio" formControlName="bio">
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="addSubmit()">VALIDER</button>
  </form>
</div>

<button mat-raised-button color="primary" (click)="goToHome()">REVENIR AUX USERS</button>
