<h1>UTILISATEURS</h1>
<div class="table-container">

  <table mat-table [dataSource]="source">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nom</th>
      <td mat-cell *matCellDef="let user">
        {{ user.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="occupation">
      <th mat-header-cell *matHeaderCellDef>occupation</th>
      <td mat-cell *matCellDef="let user">
        {{ user.occupation }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>email</th>
      <td mat-cell *matCellDef="let user">
        {{ user.mail }}
      </td>
    </ng-container>

    <ng-container matColumnDef="bio">
      <th mat-header-cell *matHeaderCellDef>biographie</th>
      <td mat-cell *matCellDef="let user">
        {{ user.bio }}
      </td>
    </ng-container>

    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-raised-button color="primary" (click)="router.navigateByUrl('/user/' + user.userId)">DETAILS</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="update">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-raised-button color="accent" (click)="router.navigateByUrl('/update/' + user.userId)">UPDATE</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button mat-raised-button color="warn" (click)="handleUserDelete(user.userId)">SUPPRIMER</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: tableColumns"
      class="ligne-tableau"></tr>

  </table>

  <mat-paginator #paginator [pageSizeOptions]="[7, 9, 17, 69]"
                 showFirstLastButtons >
  </mat-paginator>

  <button mat-raised-button (click)="goToAddUser()" color="accent" id="go-to-add-button">AJOUTER USER</button>

</div>
