<div>
  <p>Nom: <strong>{{user.name}}</strong></p>
  <p>Occupation: <strong>{{user.occupation}}</strong></p>
  <p>Mail: <strong>{{user.mail}}</strong></p>
  <p>Bio: <strong>{{user.bio}}</strong></p>
</div>

<button mat-raised-button color="primary" (click)="goToHome()">REVENIR AUX USERS</button>
