@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.flex(@direction: column, @justify: space-evenly, @align: center) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
}

.bordered(@border-size: 3px, @border-color: ghostwhite, @radius: 7px) {
  border: @border-size ridge @border-color;
  border-radius: @radius;
}

html, * , ::after, ::before {
  box-sizing: border-box;
}
